<div <% if options.has_key?(:id) %>id="<%= options[:id] %>"<% end %> class="jqmWindow <%= options[:class] %>">
  <div class="modal-header">
    <%= modal_title %>
    <a href="#" class="jqmClose">&times;</a>
  </div>

  <div class="modal-content">
    <%= yield %>
  </div>

  <% if options[:loading] %>
  <div class="preloader" style="display: none">Loading...</div>
  <% end %>
</div>
